body{

    background-image: url("../static/images/background.jpg");
    background-size: cover;
    overflow: auto;
    background-attachment:fixed;
}

.title{
    margin-top:0;
    height:600px;
    width:100%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 30px;
}

.title h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 100px;
    text-shadow: 10px 10px 50px yellow;
}

.title h2{
    font-size: 30px;
    font-weight: 700;
    color: #FBE0C3;
    text-align: center;
    padding-top: 50px;
    text-shadow: 10px 10px 50px rgba(0,0,0);
}

.nav{
    height: 50px;
    width: 100%;
    top: 0;
    z-index: 1;


}

.nav ul{
    margin-top:10px;
    margin: auto;
    list-style: none;
    overflow: hidden;
}

.nav  ul a li{
    text-align: center;
    line-height: 30px;
    font-size:30px;
    float: right;
    height:30px;
    width: 100px;
    color:white;
    opacity: 0.6;
    transition: all 0.5s ease;
    margin: 10px;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.nav  ul a .welcome{
    text-align: center;
    line-height: 30px;
    font-size:30px;
    float: left;
    height:30px;
    width:400px;
    color:white;
    transition: all 0.5s ease;
    margin: 10px;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.nav a li:hover{
    opacity: 1;
    border-bottom: 2px solid rgba(255,255,255);
    transition: all 0.5s ease;
}

.nav a li.active{
    opacity: 1;
    border-bottom: 2px solid white;
    transition: all 0.5s ease;
}


.content{
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
    color: white;
    opacity: 0.8;
}

.content .stat{
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    height: 500px;
    width: 49%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
    float:left;
}

.content .stat .dino{
    border-radius: 50%;
    border: 5px solid white;
    transition: all 0.5s ease;
}

.content .stat .dino:hover{
    transform: rotate(360deg);
    transition: all 0.5s ease;
}

.content .contact{
    background-color: rgba(255,255,255,0.1);
    height: 520px;
    width: 49%;
    border-radius: 10px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    float:right;
}

.content .contact h2{
    font-size: 30px;
    font-weight: 700;
    color: #00f2ff;
    text-align: center;
    text-shadow: 10px 10px 50px rgba();
}

.content .contact .vol{
    
    width:80%;
    height:50px;
    border-radius: 8000em;
    border: 5px solid aquamarine;
    transition: all 0.5s ease;
    margin: auto;
    margin-bottom: 40px;
}

.content .contact .vol:hover{
    transition: all 0.5s ease;
}


.content .contact .vol .svgcont{

    height: 80%;
    width: 40px;
    background-color: white;
    border-radius: 800em;
    border: 5px solid white;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    float:right;
    opacity: 1;
    z-index:20;
    text-align: center;
}

.content .contact .vol:hover .svgcont{
    border-left: 5px;
    transition: all 0.5s ease;
    width:99.1%;
    text-align:center;
}

/*创造一个svg，使得鼠标不悬浮时在左边，鼠标悬浮时滑动到div的右边*/
.contnet .contact .vol .svgcont img{
    float:right;
    margin: auto;
    background-color: white;
}

.content .contact .vol .svgcont a{
    font-size: 30px;
    display: none;
    font-weight: 700;
    color: black;
    text-align: center;
    text-shadow: 10px 10px 50px rgba();
    margin-top: 3px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.5s ease;
    overflow:hidden;
    text-decoration: none;
    align-self: center;

    white-space: nowrap;
    text-decoration:underline rgba(0,0,0,0);
    justify-content: center;
    align-items: center;
}

.content .contact .vol:hover .svgcont a{
    font-size: 30px;
    font-weight: 700;
    color: black;
    text-align: center;
    text-shadow: 10px 10px 50px rgba();
    margin-top: 3px;
    margin-right: 10px;
    opacity: 1;
    transition: all 0.5s ease;
    text-align: center;
    display: flex;
}

.content .contact .vol .svgcont a:hover{
    text-decoration: underline rgba(0,0,0,1);
    color: black;
    transition: all 0.5s ease;
}
.content .contact .vol .svgcont{
    height: 80%;
    width: 40px;
    background-color: white;
    border-radius: 800em;
    border: 5px solid white;
    transition: all 0.5s ease;
    display: flex;
    float:right;
    opacity: 1;
    z-index:20;
    text-align: center;
    justify-content: center; /* 新增 */
}

.footer{
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin: auto;
    margin-top:30px;
    padding-top: 30px;
    padding-bottom: 100px;
    text-align: center;
    float:left;
}

.footer p{
    color:white;
}

