<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Old CPU</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="title">
        <div class="nav">
            <ul>
                <a href="../index.html"><li class="welcome">Welcome to Herminos's Garden!</li></a>
                <a href="../index.html"><li>Home</li></a>
                <a href="../blog_guide.html"><li>Blog</li></a>
                <a href="#"><li>Gallery</li></a>
            </ul>
            <h1>___主标题___</h1>
            <h2>___副标题___</h2>
        </div>
    </div>
    <div class="blog_content">
        <h1>___内容___</h1>
    </div>
</body>
</html>